body {
  font-family: "Lato", sans-serif;
  background-color: #141c23;
  padding: 0 64px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.logo  {
  display: flex;
  align-items: center;
  gap: 6px;
}

.logo  > span {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 16px;
}

.btn {
  padding: 12px 20px;
  border-radius: 32px;
  display: flex;
  cursor: pointer;
}

.nav-btn {
  color: white;
  background-color: transparent;
  border: 2px solid transparent;
}

.nav-btn:hover {
  border-color: #f57c00;
}

.primary-btn {
  color: white;
  background-color: #e65100;
  border: 2px solid #e65100;
}

.primary-btn:hover {
  background-color: #f57c00;
  border-color: #f57c00;
}

.secondary-btn {
  color: white;
  background-color: rgba(52, 60, 66, 0.65);
  border: 2px solid rgba(52, 60, 66, 0.65);
}

.secondary-btn:hover {
  background-color: #343c42;
}

.hero-section {
  background-image: url("assets/Background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 26px 64px;
}

.hero-section > .title {
  color: white;
  font-size: 92px;
  display: flex;
  flex-direction: column;
  font-weight: 900;
  margin-bottom: 36px;
}

.hero-section > .title > span {
  color: #e65100;
}

.hero-section > .subheader {
  color: white;
  margin-bottom: 36px;
}

.hero-section > .hero-buttons {
  display: flex;
  gap: 16px;
}

.partners{
  display: flex;
  gap: 24px;
  color: white;
  text-align: right;
  justify-content: center;
  margin-top: 64px;


} 

.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  color: white;
} 

hr{
  width: 100%;
} 

.information {
  display: flex;
  width: 100%;
  justify-content: space-around;

}  

.information > div{     
  display: flex;
  flex-direction: column;

}

.information a {
color: white;
text-decoration: none;
margin-bottom: 8px;
}



